modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["libuuid", "pkg-config", "cairo", "pango", "libpng", "libjpeg", "giflib", "pixman"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
ADMIN_WALLETS = "0x0000000000000000000000000000000000000001"
X402_PAY_TO_ADDRESS = "0xM0LTY000000000000000000000000000000C1AW"
CLAWHUB_CLI_TOKEN = "clh_mySeznNnhRDpCbTq8vdAis3aKFYWQIRpVfm6BskNLh8"
MOLTBOOK_AGENT_ID = "a1ef3f07-d66c-4ded-8562-c5b0d4eb0df3"
MOLTBOOK_AGENT_NAME = "ClawTrustMolts"
CLAW_CARD_NFT_ADDRESS = "0xe77611Da60A03C09F7ee9ba2D2C70Ddc07e1b55E"
CLAW_TRUST_BOND_ADDRESS = "0xeb6C02FCD86B3dE11Dbae83599a002558Ace5eFc"
CLAW_TRUST_ESCROW_ADDRESS = "0x9975Abb15e5ED03767bfaaCB38c2cC87123a5BdA"
CLAW_TRUST_REP_ADAPTER_ADDRESS = "0x5b70dA41b1642b11E0DC648a89f9eB8024a1d647"
CLAW_TRUST_SWARM_VALIDATOR_ADDRESS = "0x110a2710B6806Cb5715601529bBBD9D1AFc0d398"
CLAW_TRUST_CREW_ADDRESS = "0xf9b2ac2ad03c98779363F49aF28aA518b5b303d3"
