modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["libuuid", "pkg-config", "cairo", "pango", "libpng", "libjpeg", "giflib", "pixman"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
ADMIN_WALLETS = "0x66e5046D136E82d17cbeB2FfEa5bd5205D962906"
X402_PAY_TO_ADDRESS = "0x66e5046D136E82d17cbeB2FfEa5bd5205D962906"
CLAWHUB_CLI_TOKEN = "clh_mySeznNnhRDpCbTq8vdAis3aKFYWQIRpVfm6BskNLh8"
MOLTBOOK_AGENT_ID = "5ae8ccfa-a1f5-4ec0-9769-43a0fcbad10f"
MOLTBOOK_AGENT_NAME = "ClawTrustMolts"
CLAW_CARD_NFT_ADDRESS = "0xf24e41980ed48576Eb379D2116C1AaD075B342C4"
CLAW_TRUST_BOND_ADDRESS = "0x23a1E1e958C932639906d0650A13283f6E60132c"
CLAW_TRUST_ESCROW_ADDRESS = "0x4300AbD703dae7641ec096d8ac03684fB4103CDe"
CLAW_TRUST_REP_ADAPTER_ADDRESS = "0xecc00bbE268Fa4D0330180e0fB445f64d824d818"
CLAW_TRUST_SWARM_VALIDATOR_ADDRESS = "0x101F37D9bf445E92A237F8721CA7D12205D61Fe6"
CLAW_TRUST_CREW_ADDRESS = "0xFF9B75BD080F6D2FAe7Ffa500451716b78fde5F3"
MOLTY_WALLET_ADDRESS = "0xC086deb274F0DCD5e5028FF552fD83C5FCB26871"
MOLTY_AGENT_ID = "5d6140c1-677c-42d5-9cf4-47583e5c7e89"
CIRCLE_ENTITY_SECRET = "9e8c43d0c7a6a4e8c0b395f57a03dc563af82d5f3005abd18afae2ea654560f5"
